@model WBFISCAL_ALFA.Models.TB_1001

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_1001</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RECNUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RECNUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF_CNPJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF_CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INSCRMUNICIPAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INSCRMUNICIPAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INSCESTADUAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INSCESTADUAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INSCSUFRAMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INSCSUFRAMA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAZAO_SOCIAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAZAO_SOCIAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FANTASIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FANTASIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDCEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENDERECO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENDERECO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMPL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BAIRRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BAIRRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDPAIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDPAIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDPSIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDPSIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDTELEFONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDTELEFONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_CONTADOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_CONTADOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E_MAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_MAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERFIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERFIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IND_ATIVIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IND_ATIVIDADE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAT_PJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAT_PJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD_INC_TRIB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_INC_TRIB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IND_APRO_CRED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IND_APRO_CRED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IND_REG_CUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IND_REG_CUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_MUNICIPIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_MUNICIPIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLAG_GERA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLAG_GERA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FL_EFD_CONTR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FL_EFD_CONTR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FL_EFD_ICMS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FL_EFD_ICMS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FL_ECD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FL_ECD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FL_FCONT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FL_FCONT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ECD_SIT_ESP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ECD_SIT_ESP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEQ_MOV_CTB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEQ_MOV_CTB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IND_SIT_INI_PER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IND_SIT_INI_PER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FORM_APUR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FORM_APUR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FORM_TRIBUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FORM_TRIBUT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
