@model WBFISCAL_ALFA.Models.TB_1003

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_1003</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RECNUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RECNUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_FILIAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_FILIAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRICAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRICAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD_BARRA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_BARRA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_BRUTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_BRUTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_LIQUIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_LIQUIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_MEDIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_MEDIDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_NCM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_NCM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_SERV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_SERV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_CLASSE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_CLASSE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_GENERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_GENERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALIQ_ICMS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALIQ_ICMS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAT_CONV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAT_CONV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD_ANT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_ANT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EX_IPI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EX_IPI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
